* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    /* background-color: green; */
    /* background-color: #e0ece4; */
    background-color: #d8d3cd;
}
.headerwrapper {
    background-color: #f7f2e7;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}
header {
    background-color: #f7f2e7;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content {
    max-width: 90vw;
    margin: 0 auto;
}
.searchBar {
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchResult {
    width: 100%;
    line-height: 2em;
    padding-left: 1em;
}

.searchResult:hover {
    cursor: pointer;
    background-color: #e0ece4;
}

.searchInput {
    width: 100%;
}
.searchResultsContainer {
    width: 100%;
    top: 100%;
    max-height: 35vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f4f5f6;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.navlink {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0.5em;
    color: black;
}
.navlink:hover {
    cursor: pointer;
}
.navlink:visited {
    text-decoration: none;
    color: black;
}

.accountIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sitelogo {
    object-fit: cover;
}
.shoppingIcon:hover {
    cursor: pointer;
}
.shopicon-group {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row-reverse; */
    gap: 0.5em;
}
.product-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-bottom: 0.25em;
}
.product-link:visited {
    color: black;
    text-decoration: none;
}
.featuredProductsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    /* align-items: center; */
    justify-content: center;
}
.product-listing {
    /* width: 15em;
    height: 10em; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}
.product-listing a {
    display: flex;
    flex-direction: column;
}
.headline {
    margin-bottom: 1em;
    text-align: center;
    font-size: 3em;
}
.product-single-view-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}
.product-single-view-item {
    width: 50%;
    height: 100%;
    display: flex;
}
.product-view {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.product-view-buttons {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* align-items: flex-end; */
    /* flex-direction: row-reverse; */
}
.product-view-buttons-item {
    width: 50%;
    display: flex;
    justify-content: center;
}
.description {
    flex-wrap: wrap;
    flex-direction: flex-end;
    justify-content: center;

    align-items: center;
}
.cart-view-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.searchview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}
.clear-cart {
    align-self: flex-end;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clear-cart:hover {
    cursor: pointer;
}

.checkoutText {
    margin-top: 2.5em;
    color: black;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.checkoutText a {
    color: inherit;
    text-decoration: none;
}
.checkoutText a:visited {
    text-decoration: none;
    color: inherit;
}
.checkoutText:hover {
}

.account-link-container {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.account-link {
    color: black;
    font-size: 2em;
    text-decoration: none;
}
.user-data-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.all-orders-view-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.order-card-view {
    border: 1px dashed #3a3b3b;
    padding: 5px;
}
.order-card-view-sub-container {
    display: flex;
    justify-content: space-between;
}
.order-detail-container {
    display: flex;
    align-self: flex-end;
    font-size: 1.25em;
    align-items: center;
    /* justify-content: center; */
}
.order-detail-container:hover {
    cursor: pointer;
}

.orderheadline {
    font-size: 3em;
    text-align: center;
}
.orderheadline-sub {
    text-align: center;
    font-size: 1em;
}
.order-single-view-container {
    display: flex;
    flex-direction: column;
}
.items-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 3em;
}
.item-single-container {
    display: flex;
    flex-direction: column;
}
.order-single-view-sub-container {
    display: flex;
    justify-content: space-between;
}
.inline-link {
    color: black;
    text-decoration: none;
}
.inline-link:hover {
    cursor: pointer;
}
.inline-link:visited {
    color: Black;
}
.order-layout-container {
    display: flex;
}
.order-layout-item {
    width: 50%;
}
.address-order {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.address-view-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.address {
    border: 1px dashed #3a3b3b;
    height: 200px;
    width: 200px;
    padding: 5px;
}
